node { 
	size: 64px; 
	fill-mode: image-scaled; 
	fill-image: url('resources/images/r1.png'); 
	text-offset:30,30;
		text-size: 20;
}

edge {
	text-size: 20;
	size:2;
	text-offset:25,25;
}

graph {
	padding: 50;
	
}